<div id="registration-communication-actions-<%= dferg.id %>">
  <br>
  <% if !(["waiting", "confirmed", "cancelled"].include? dferg.registration_status.name) %>

    <%= link_to "Send RSVP Email", data_form_entity_response_group_rsvp_email_event_communication_mailers_path(data_form_entity_response_group: dferg.id) %>

  <% end %>

  <% if (dferg.registration_status.confirmed?) %>
  <br>
  <%= link_to "Send Entry Pass", data_form_entity_response_group_entry_pass_email_event_communication_mailers_path(data_form_entity_response_group: dferg.id) %>

  <% end %>

</div>

<!--Change the status to confirmed as soon as an entry pass is sent-->