<div>

  <p>Entry Pass: <%= @dferg.user.email %></p>

  <p>Your Unique Code : <%= @dferg.event_data_form_entity_group.event.event_entry_passes.find_by(user: @dferg.user).unique_code %></p>

  <!--add event details-->
  <!--add event address-->

  <% if @message %>
  <p>Organizer Message</p>

  <p><%= @message %></p>
  <% end %>

</div>