<div id="registration-communication-group-actions-<%= edfeg.id %>">
  <ul class="list-group d-flex flex-row">

    <% if @edfeg.registration_type?([NameValues::RegistrationsType::ATTENDEE, NameValues::RegistrationsType::SPEAKER]) %>
    <li class="list-group-item">
      <%= link_to "Send Remaining RSVP Emails", event_data_form_entity_group_rsvp_email_event_communication_mailers_path(event_data_form_entity_group: edfeg.id), remote: true %>
    </li>
    <li class="list-group-item">
      <%= link_to "Resend All RSVP Emails", event_data_form_entity_group_rsvp_email_event_communication_mailers_path(event_data_form_entity_group: edfeg.id, force: true), remote: true %>
    </li>
    <li class="list-group-item">
      <%= link_to "Send All Entry Passes", event_data_form_entity_group_entry_pass_email_event_communication_mailers_path(event_data_form_entity_group: edfeg.id), remote: true %>
    </li>
    <% end %>
  </ul>

</div>