
<div>
  <div>

  </div>


  <table>
    <thead>
      <% @edfeg.data_form_entities.each do |dfe| %>
      <%  dfe.data_form.questions.each do |question| %>
      <th>
        <p>
          <%= question.title %>
        </p>
      </th>
      <% end %>
      <% end %>
      <th>
        Registration Status
      </th>
    </thead>
    <!--TODO Optimize the query to show responses-->
    <tbody>

      <% @edfeg.data_form_entity_response_groups.each do |dferg| %>
      <% @edfeg.data_form_entities.each do |dfe| %>
      <% dfe.data_form_entity_responses.each do |dfer| %>
      <%  dfe.data_form.questions.each do |question| %>


      <td>
        <%= DataFormEntityResponseValue.get_response_text(question, dfer) %>

      </td>


      <% end %>
      <% end %>
      <% end %>
      <td>
        <% if(!@edfeg.registration_type.blank?) %>
        <%= render 'data_form_entity_responses/registration_status_actions', dferg: dferg %>
        <% end %>
      </td>

      <% end %>

    </tbody>

  </table>



</div>