<section id="create-kommunity">


  <div class="card col-md-8 offset-md-2">
    <h3 class="card-header">Update <%= @kommunity.name %> </h1>
      <div class="card-body">
        <%= render 'form' %>
      </div>

  </div>

</section>