<% content_for :page_title do %>
  Communities | Upcoming Events
<% end %>

<section id="home-home">

  <div class="row justify-content-center">

    <div class="col-md-9 ">

      <div class="row d-flex flex-md-row flex-sm-column flex-wrap justify-content-center">
        <% @upcoming_events.each do |event| %>

        <div class="col-md-4 m-2 p-0">
          <%= render 'events/event_mini_card', event: event %>
        </div>


        <% end %>

      </div>

    </div>

  </div>



</section>