<div class="p-3 m-1 bg-white  event-description">
  <h5>
    Details
  </h5>



  <%= render 'event_updates/display_card', event: @event, new_event_update: new_event_update %>

  <%= event.description.html_safe %>
</div>