<div id="event-tracks-creator-<%= event.id %>">
  <div class="card p-2 mt-2 border-info">
    <h6 class="card-header m-0 p-2">Sessions!</h6>
    <% if allowed_view?(:event_location_tracks, :create) && show_form %>
    <div class="col-md-6 offset-md-4 mt-2">
      <%= render 'event_location_tracks/form', event: event, event_location_tack: @event_location_tack %>
    </div>
    <% end %>

    <div>
      <ul class="list-group d-flex flex-row justify-content-center flex-wrap" id="tracks-list-<%= event.id%>">
        <% if !event.event_location_tracks.empty? %>
        <% event.event_location_tracks.each do |elt| %>
        <%= render 'events/event_location_track', event: event, event_location_track: elt, track_slot: track_slot, show_form: show_form %>
        <% end %>
        <% else %>
        <li class="list-group-item" id="session-coming-soon">
          Coming Soon!
        </li>
        <% end %>
      </ul>

    </div>

  </div>

</div>