<% content_for :page_title do %>
<%= @kommunity.name %> | Edit
<% end %>

<p class="text-center alert alert-warning">You are editing an event, the changes will be immediately reflected to the website visitors</p>


<%= render 'form' %>