<h1>Events#index</h1>


<div>
  <% @events.each do |event| %>

  <div>
    <p><%= event.name %>  <%= link_to 'Edit', edit_event_path(event) %>  <%= link_to 'Show', event_path(event) %></p>

  </div>

  <% end %>

</div>

<%=  link_to "Create Event", new_event_path %>

