<li class="data-form-entity-<%= dfe.id %>">
  <%= dfe.data_form.name %>

  &nbsp

  <% if dfe.data_form_entity_responses.length == 0 %>
  <%= link_to 'Remove', remove_data_form_entity_event_path(id: @event, entity_id: dfe), remote: true, method: :delete %>

  <% end %>


  <%= link_to 'Fill', fill_form_response_path(data_form_entity_id: dfe) %>

</li>