<li class="data-form-entity-<%= dfe.id %>">
  <%= dfe.data_form.name %>

  &nbsp

  <% if dfe.data_form_entity_responses.length == 0 %>
  <%= link_to 'Remove', remove_data_form_entity_event_path(id: @event, entity_id: dfe), remote: true, method: :delete %>

  <% end %>

  <%= render 'event_data_form_entity_groups/assigned_form_list_item_actions', dfe: dfe %>



</li>