<div class="d-flex">
  <div class="d-flex">
    <span class="mr-2">Visible to:</span>
    <%= form_with url: update_form_visibility_event_path(data_form_entity: dfe), method: :post, remote: true do |f| %>
    <%= f.select :visibility, options_for_select(DataFormEntity.visibilities.keys.map { |string| string.gsub('_', " ").humanize.titleize }, dfe.visibility), {}, :onchange => 'Rails.fire(this.form, "submit")', class: 'form-control' %>
    <% end %>
  </div>



  <!--<% link_to 'Fill', fill_form_response_path(data_form_entity_id: dfe), class: 'ml-2 text-primary' %>-->

  <%= link_to 'Fill For A User', fill_form_response_path(data_form_entity_id: dfe, for_other_user: true), class: 'ml-2 text-primary' %>

</div>