/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";


body{
  //background-color: blue;

  &>nav{
    .user-avatar{
      vertical-align: middle;
    }
  }
}

#body-main-container{
  padding-top: 78.55px;
}


.clickable-card{
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
}






#body-header{
  height: 50px;
  border-bottom: 15px;
}


#event-timing{
 span:first-child{
   background-color: lightgrey;
   padding: 5px;
 }

}


.hidden-item{
  display: none;
}

#google-auth-button{
  font-family: 'Roboto', sans-serif;
  box-shadow: 1px 1px 1px 1px lightgrey;
  color: grey;
  .buttonText{
    padding-right: 10px;
    font-size: 0.9rem;
  }

}


.active-registration-type{
  color: green;
  font-weight: bold;
}


.active-event-status{
  color: green;
  font-weight: bold;
}


.active-registration-status{
  color: green;
  font-weight: bold;
}