/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";



body{
  //background-color: blue;

  background: #f8f9fa;

  &>nav{
    .user-avatar{
      vertical-align: middle;
    }
  }


  #body-main-container{
    background: #f8f9fa;
    min-height: 100vh;
  }

  .event-header{
    background-image: linear-gradient(180deg, rgba(39,60,177,1) 20%, rgba(63,81,181,1) 65%, rgba(100,113,184,1) 93%);
    height: 100vh;
    background-size: contain !important;
    background-repeat: no-repeat  !important;
    background-position: center  !important;
    //background-attachment: fixed !important;
    max-height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    #event-header-image-form{
      position: absolute;
      bottom: -53;
      left: 0;
    }

  }

  .event-location-container{
    .event-location-details{
      position: absolute;
      top: 200px;
      background: white;
      padding: 10px;
      width: 300px;
      margin-left: 10px;
    }
  }


  .event-location-track-container{
    .header{
      background-color: #f4ba2c;
    }
  }


  .event-location-track-slots-widget{
    .track-slots-list{
      max-height: 350px;
      overflow-y: scroll;
    }
  }


  .shortlisted-speakers-container{
    .shortlisted-speakers-list{
      .speaker-display-card{
        width: 200px;

        .speaker-avatar{
          margin: 0 auto;
          width: 175px;
          height: 175px;
          overflow: hidden;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          background: #4368b121;

          img{
            width: 100%;
          }
        }
        .speaker-details{
          text-align: center;

          .name{
            margin-bottom: 2px;
          }

          .designation{
            margin-bottom: 5px;
            height: 75px;
            overflow-y: hidden;
            line-height: 20px;
            font-size: 14px;
          }
        }
      }
    }

  }


}


@media screen and (max-width: 640px) {
  .shortlisted-speakers-container{
    margin-top: 95px;
  }

}

#body-main-container{
  padding-top: 78.55px;
}


.kommunity-logo-image{
  width: 50px;
  overflow: hidden;
  max-height: 75px;
  img{
    width: 100%;
  }
}

.horizontal-cards{
  overflow-x: auto;
}


#kommunity-list{
  background: #6998e4;
  box-shadow: 1px 1px 1px 1px lightgrey;
  padding: 15px;

}

.event-mini-card{
  position: relative;
  width: 350px;

  .card-header{
    border: 1px solid #4368b1;
    background: white;
    color: #4368b1;
  }

  .event-timing {
    font-size: 12px;
    span:first-child {
      background-color: lightgrey;
      padding: 5px;
      border-radius: 15px;
    }
  }

  .card-text{
    height: 200px;
    overflow: hidden;
  }

  .clickable-card{
    text-decoration: none;
    color: inherit;
  }

}








#body-header{
  height: 50px;
  border-bottom: 15px;
}
//
//
//#event-timing{
// span:first-child{
//   background-color: lightgrey;
//   padding: 5px;
// }
//
//}


.hidden-item{
  display: none;
}

#google-auth-button{
  font-family: 'Roboto', sans-serif;
  box-shadow: 1px 1px 1px 1px lightgrey;
  color: grey;
  .buttonText{
    padding-right: 10px;
    font-size: 0.9rem;
  }

}


.active-registration-type{
  color: green;
  font-weight: bold;
}


.active-event-status{
  color: green;
  font-weight: bold;
}


.active-registration-status{
  color: green;
  font-weight: bold;
}





.kommunity-display-card{

  .clickable-card.full-size{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .card-header{
    //border: none;

    position: relative;


  }
  .card-body{
    height: 120px;
    overflow-y: hidden;

    position: relative;

  }

  .card-footer{
    border: 0;
  }
}