/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";



body{
  //background-color: blue;

  background: #f8f9fa;

  &>nav{
    .user-avatar{
      vertical-align: middle;
    }
  }


  #body-main-container{
    background: #f8f9fa;
    min-height: 100vh;
  }

  .event-header{
    background: linear-gradient(180deg, rgba(39,60,177,1) 20%, rgba(63,81,181,1) 65%, rgba(100,113,184,1) 93%);
    height: 100vh;
    background-size: contain !important;
    background-repeat: no-repeat  !important;
    background-position: center  !important;
    background-attachment: fixed !important;
    max-height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    #event-header-image-form{
      position: absolute;
      bottom: -53;
      left: 0;
    }

  }

  .event-location-container{
    .event-location-details{
      position: absolute;
      top: 230px;
      background: white;
      padding: 10px;
      width: 300px;
      margin-left: 10px;
    }
  }


  .event-location-track-container{
    .header{
      background-color: #f4ba2c;
    }
  }


  .event-location-track-slots-widget{
    .track-slots-list{
      max-height: 350px;
      overflow-y: scroll;
    }
  }

}

#body-main-container{
  padding-top: 78.55px;
}


.kommunity-logo-image{
  width: 50px;
  overflow: hidden;
  max-height: 75px;
  img{
    width: 100%;
  }
}


.event-mini-card{
  position: relative;

  .card-header{
    border: 1px solid #4368b1;
    background: white;
    color: #4368b1;
  }

  .event-timing {
    span:first-child {
      background-color: lightgrey;
      padding: 5px;
    }
  }

    .clickable-card{
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    z-index: 100;
    box-shadow: 1px 1px 1px 1px lightgrey;


    &:hover{
      box-shadow: 1px 1px 4px 2px #ababab;
    }
  }

}








#body-header{
  height: 50px;
  border-bottom: 15px;
}
//
//
//#event-timing{
// span:first-child{
//   background-color: lightgrey;
//   padding: 5px;
// }
//
//}


.hidden-item{
  display: none;
}

#google-auth-button{
  font-family: 'Roboto', sans-serif;
  box-shadow: 1px 1px 1px 1px lightgrey;
  color: grey;
  .buttonText{
    padding-right: 10px;
    font-size: 0.9rem;
  }

}


.active-registration-type{
  color: green;
  font-weight: bold;
}


.active-event-status{
  color: green;
  font-weight: bold;
}


.active-registration-status{
  color: green;
  font-weight: bold;
}