.event-comments{

  .comment-reply-button{
    font-size: 12px;
  }

  .comment-submit-button{
    font-size: 10px;
  }


  .comment-comments{
    border-left: 1px solid lightgrey;

    li{
      border: none;
    }
  }
}

