#data-form-entities-form-responses{

  .table-responsive{
    height: 100vh;
    overflow: scroll;
    font-size: 14px;

    table{

      th.sticky-row{
        white-space: nowrap;
      }

      .sticky-row{
        position: sticky;
        top: 0;
        background: white;
        z-index: 1;
      }

      .sticky-box{
        position: sticky;
        left: 0;
      }

      .registration-status-actions-list{
        li{
          padding: 5px;
          font-size: 12px;
        }
      }


    }

  }
}