.user-discussion-card{
  width: 100%;
  .existing-profile-image{
    width: 18px;

    img{
      width: 100%;
    }
  }


  .discussion-description{
    width: 100%;
    overflow-y: scroll;
    max-height: 100px;
    background-color: #edf3ff;
    padding: 10px;
    font-size: 12px;
  }


  .discussion-messages-list{
    margin-bottom: 5px;

    li{
      padding: 0;
    }
  }
}