// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section#events-show{


  .event-header{
    background: linear-gradient(180deg, rgba(39,60,177,1) 20%, rgba(63,81,181,1) 65%, rgba(100,113,184,1) 93%);
    height: 100vh;
    background-size: contain !important;
    background-repeat: no-repeat  !important;
    background-position: center  !important;
    background-attachment: fixed !important;
    max-height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    #event-header-image-form{
      position: absolute;
      bottom: -53;
      left: 0;
    }

  }
  .event-location{
    overflow: hidden;
  }


  #v-pills-event-locations-tab{
    width: 100%;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}



