<fieldset>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= link_to "Remove Choice", '#', class: "remove_fields" %>

  </div>

  <div class="field">
    <%= f.hidden_field :_destroy %>


  </div>

</fieldset>




