<fieldset class="m-3">
  <div class="form-group">
    <%= f.label :title, 'Choice' %>
    <%= f.text_field :title, class: 'form-control' %>
    <%= link_to "Remove Choice", '#', class: "remove_fields" %>

  </div>

  <div class="form-group">
    <%= f.hidden_field :_destroy %>


  </div>

</fieldset>




