<% content_for :page_title do %>
<%= @kommunity.name %> | <%= @data_form.name %> | Edit
<% end %>



<div>
  <div>
    <h1>Edit Data Form</h1>

  </div>

  <div>
    <%= render 'form' %>
  </div>

</div>