<h1>DataForms#index</h1>
<p>Find me in app/views/data_forms/index.html.erb</p>


<div>
  <% @data_forms.each do |df| %>

  <div>
    <p><%= df.name %>  <%= link_to 'Edit', edit_data_form_path(@kommunity, df) %></p>

  </div>

  <% end %>


</div>
