<div id="event-data-form-entity-response-group-rsvp-email">


  <h3>RSVP User Specific Email: <%= @user.email %></h3>
  <h4>Event: <%= @event.name %></h4>

  <p>You are sending an RSVP confirmation email.</p>

  <div class="email-format-container">
    <%%>
    <div class="email-subject">

    </div>



  </div>


</div>