<div id="registration-response-status-actions-<%= dfer.id %>">

  <% dfer.data_form_entity.registration_type.registration_statuses.each do |regst| %>
    <%= link_to regst.name, update_response_registration_status_path(id: dfer, registration_status: regst), method: :put, remote: true, class: "#{'active-registration-status' if(dfer.registration_status == regst)}"  %>
  <% end %>

</div>