<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <table style="width: 100%; background-color: #e6e6e6a6; padding: 15px; font-family: sans-serif;">
      <tbody>
        <tr>
          <td style="width: 100%;">
            <%= yield %>
          </td>
        </tr>
        <tr>
          <td>
            <footer style="text-align: center; color: #656565;">
              We're coming up with something awesome soon!


            </footer>
          </td>
        </tr>
      </tbody>
    </table>




  </body>
</html>
